html {
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    margin:0;
    padding:0;
    height:100vh;
    width:100vw;
    font-family: 'Open Sans', sans-serif;
}


/*HEADER*/

body > header {
    background-color:#d52a54;
    text-align:center;
    height:8vh;
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    z-index:1;
}

header ul {
    list-style:none;
}

header li {
    color:#fff;
    display:inline;
    padding:25px;
}

header > nav > ul > li a{
    text-decoration:none;
    color:#fff;
}



/*MAIN*/

section {
    display:block;
}


/*ACCUEIL*/

#home {
    height:100vh;
    width:100vw;
    background-image:url(img/teacher.jpeg);
    background-size:cover;
}

#home strong {
    color:#d52a54;
}

#home h2 {
    color:#fff;
    font-size:4em;
    position:absolute;
    top:20vh;
    left:10vw;
}

#home h3 {
    color:#fff;
    font-size:2em;
    position:absolute;
    top:41vh;
    left:10vw;
}


/*A PROPOS*/

#info {
    position:absolute;
    top:115vh;
    height:100vh;
    width:100vw;
}


#info h2 {
    text-align:center;
    font-size:3em;
    font-weight:100;
    font-family: 'Bitter', serif;
}
#info p {
    width:45vw;
    height:20vh;
}

#info p:first-of-type {
    position:absolute;
    left:5vw;
    top:20vh;
}

#info p:nth-of-type(2){
    position:absolute;
    top:58vh;
    left:5vw;
}
#info p:nth-of-type(3){
    position:absolute;
    left:50vw;
    top:20vh;
}
#info p:last-of-type{
    position:absolute;
    top:58vh;
    left:50vw;
}



/*LES COURS*/

#cours {
    position:absolute;
    top:215vh;
    height:100vh;
    width:100vw;
    background-color:#0b6ccd;
}

#cours h2 {
    text-align:center;
    font-size:3em;
    color:#fff;
    font-weight:100;
    font-family: 'Bitter', serif;
}

#cours > article > header > h3 {
    text-transform:uppercase;
    text-align:center;
    color:#fff;
}

#cours article {
    background-color:#fff;
    border-radius:15px;
    box-shadow:1px 1px 10px rgb(0 0 0 / 50%);
    height:55vh;
    width:30vw;
}

#dev {
    position:absolute;
    left:2vw;
}

#dev header {
    width: 100%;
    height: 15vh;
    background-image:url(img/code.jpeg);
    background-size:cover;

}


#design {
    position:absolute;
    left:34vw;
}


#design header {
    width: 100%;
    height: 15vh;
    background-image:url(img/design.jpeg);
    background-size:cover;
    
}

#gestion {
    position:absolute;
    left:66vw;
}

#gestion header {
    width: 100%;
    height: 15vh;
    background-image:url(img/management.jpeg);
    background-size:cover;
    
}

/*AGENDA*/

#agenda {
    position:absolute;
    top:315vh;
    height:100vh;
    width:100vw;
}

#agenda article {
    background-color: white;
    width: 20vw;
    height: 40vh;
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 30%);
    position: absolute;
}
#agenda article > header {
    width: 100%;
    height: 15vh;
    text-align:center;
    background-image:url(img/agenda.png);
    background-position: center;
    background-repeat: no-repeat;
}

#reunion {
    position:absolute;
    left:4vw;
}

#colloque {
    position:absolute;
    left:26vw;
}


/*CONTACT*/

#contact {
    position:absolute;
    top:415vh;
    height:100vh;
    width:100vw;
}

#contact h2 {
    text-align:center;
}

