html {
    height:100vh;
    width:100vw;
    margin:0;
    padding:0;
    background-color:#4455b3;
    font-family : 'Arial', sans-serif;
}



/*TITRE*/
h1 {
    color:#fff;
    text-shadow:2px 2px 5px #0e2872;
    text-align:center;
    font-weight:bold;
    font-size:3.5em;
}

h2 {
    color:#bbbbbb;
    text-shadow:2px 2px 5px #0e2872;
}

/*POSITIONNEMENT*/

#connect {
    position:absolute;
    top:18vh;
    left:10vw;
    height:40vh;
    width:35vw;
}

#sign_up {
    position:absolute;
    top:18vh;
    left:50vw;
    height:50vh;
    width:35vw;
    
}

section > h2 {
    text-align:center;
    font-size:2.5em;
}

/*FORM*/

fieldset {
    margin:0 40px 0 40px;
    border:none;
}

form {
    background-color:#fff;
    border-radius:7px;
    box-shadow:3px 3px 10px #0e2872;
}

label {
    font-size:0.8em;
    font-weight:bold;
}

.input_txt {
    background-color:#c2cae8;
    border:none;
    border-radius:3px;
    height:25px;
    width:20vw;
}

button {
    background-color:#4455b3;
    color:#fff;
    height:30px;
    width:100px;
    border:none;
    border-radius:3px;
    text-align:center;
}
